<!DOCTYPE html>
<html>
<head>
  <title>RoccoLa</title>
  <%= include_stylesheets :app %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header" class="wrapper">
    <h1 id="rocco.la">Rocco.La</h1>
    <h2>A poor-man's Turntable.fm</h2>
  </div>
  <div id="status" class="wrapper"></div>
  <div id="main" class="wrapper">
    <%= yield %>
  </div>
  <div id="footer" class="wrapper">
    <p> 
      A simple, useless project by <a href="http://twitter.com/hpneo">HPNeo</a> and 
      <a href="http://twitter.com/yaraher">Yaraher</a>
    </p>
  </div>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js" %>
<%= include_javascripts :app %>
</body>
</html>
