<!DOCTYPE html>
<html>
<head>
  <title>RoccoLa</title>
  <link href='http://fonts.googleapis.com/css?family=Podkova&v2' rel='stylesheet' type='text/css'>  
  <link href='http://fonts.googleapis.com/css?family=Nixie+One&v2' rel='stylesheet' type='text/css'>
  
  <%= javascript_include_tag "modernizr" %>
  <%= include_stylesheets :app %>
  
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header" class="wrapper">
    <h1 id="rocco.la">Rocco.La</h1>
    <h2>A poor-man's Turntable.fm</h2>
  </div>
  <div id="status" class="wrapper">
    <span id="room_name">
    <%= current_room.name %>
    </span>
    <span id="message"></span>
    <span id="current"></span>
    <span>/</span>
    <span id="total_duration"></span>
  </div>
  <div id="main" class="wrapper">
    <%= yield %>
  </div>
  <div id="footer" class="wrapper">
    <p> 
      A simple, useless project by <a href="http://twitter.com/hpneo">HPNeo</a> and 
      <a href="http://twitter.com/yaraher">Yaraher</a>
    </p>
  </div>
  
  <script>
   var room = '<%= room_name %>'
  </script>
  
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js" %>
<script src="http://js.pusherapp.com/1.8/pusher.min.js" type="text/javascript"></script>
<%= include_javascripts :app %>
</body>
</html>
